@import "tailwindcss";

body,
:root {
  background-color: white;
  background-size: 16px 16px;
  background-image: radial-gradient(#e5e7eb 1px, transparent 1px);
}

@media (prefers-color-scheme: dark) {
  body,
  :root {
    background-color: #1e1e1e;
    background-image: radial-gradient(#3e3e42 1px, transparent 1px);
  }
}

h1 {
  @apply text-2xl font-bold text-gray-800 dark:text-white;
}

i {
  @apply text-gray-500 text-xs dark:text-white;
}

p,
span,
h2,
a,
svg {
  @apply dark:text-white;
}

@theme {
  --breakpoint-3xl: 1748px;

  /* Animations */
  --animate-fade-in-left: fade-in-left 0.3s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  --animate-fade-in-right: fade-in-right 0.3s
    cubic-bezier(0.39, 0.575, 0.565, 1) both;
  --animate-fade-in-bottom: fade-in-bottom 0.3s
    cubic-bezier(0.39, 0.575, 0.565, 1) both;
  --animate-fade-in-top: fade-in-top 0.3s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;

  @keyframes fade-in-left {
    0% {
      -webkit-transform: translateX(-50px);
      transform: translateX(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes fade-in-right {
    0% {
      -webkit-transform: translateX(50px);
      transform: translateX(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes fade-in-bottom {
    0% {
      -webkit-transform: translateY(50px);
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes fade-in-top {
    0% {
      -webkit-transform: translateY(-50px);
      transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
    }
  }
}
