---
import Experience from "../components/experience.astro";
import Profile from "../components/profile.astro";
import Projects from "../components/projects.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="src/styles/global.css" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Martín Cárdenas portfolio</title>
  </head>
  <body class="flex justify-center items-center min-h-dvh">
    <div class="flex flex-row gap-8 items-start max-w-full">
      <div class="flex flex-col items-start gap-8">
        <Profile />
        <Projects />
      </div>
      <div class="flex flex-col items-start gap-8">
        <Experience />
      </div>
    </div>
  </body>
</html>
