---
import IslandWrapper from "../components/island-wrapper.astro";
import Project from "./project.astro";
import projects from "../data/projects.json";
---

<IslandWrapper>
  <h1>Projects</h1>

  {projects.map((project) => <Project project={project} />)}
</IslandWrapper>
